---
import Analytics from "@vercel/analytics/astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "SnippetHub",
  description = "SnippetHub is a modern and minimalist web platform designed to centralize and facilitate the management, discovery, and sharing of code snippets.",
} = Astro.props;
---

<meta charset="UTF-8" />
<title>{title}</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#121212" />

<meta name="keywords" content="snippets, gfrancv, snippethub" />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:image" content="/images/og.png" />
<meta property="og:site_name" content="SnippetHub" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_EN" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@GFrancV" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:image" content="/images/og.png" />

<meta name="robots" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={Astro.url} />

<Analytics />
